.container {
    display: flex;
}


.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: blue;
}

.mini-grid {
    width: 80px;
    height: 80px;
    flex-wrap: wrap;
    display: flex;
    margin-left: 50px;
    background-color: yellow;
}


.mini-grid div {
    height: 20px;
    width: 20px;
}

